* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    position: relative;
    background-color: var(--background-color);
    color: var(--TEXTO-color);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
:root{
    --hanburgueTRES-color: #0cdbff;
    --hanburgueTEXT-color: #F78166;
    --hanburguue-color: #dddada;
    --cabecalho-color: #e1e1e1;
    --cabecalhoTEXT-color: #F78166;
    --borda-color: #555;
    --botoesdenavegacaodocarrossel-color: #55555567;
    --TEXTO-color: #444;
    --fundoTEXT-color: #e1e1e1;
    --H2-color: #F78166;
    --H3-color: #333;
    --LI-color: #F78166;
    --UL-color: #444;
    --folder-collor: #ffffff;
    --entraremoutroscursos-color: #555;
    --TEXTusuario-color: #444;  
    --background-color: #F0F6EF;
    --CorButaoUsuario-color: #F0F6EF;
    --SuporteTextBox-color: #fff;
}

.dark-mode:root{
    --hanburgueTRES-color: #F78166;
    --hanburgueTEXT-color: #0cdbff;
    --hanburguue-color: #010409;
    --cabecalho-color: #0D1117;
    --cabecalhoTEXT-color: #0cdbff;
    --borda-color: #555;
    --botoesdenavegacaodocarrossel-color: #555;
    --TEXTO-color: #F0F6EF;
    --fundoTEXT-color: #0d11172f;
    --H2-color: #0cdbff;
    --H3-color: #F0F6EF;
    --LI-color: #0cdbff;
    --UL-color: #F0F6EF;
    --folder-collor: #ffffff;
    --entraremoutroscursos-color: #555;
    --TEXTusuario-color: #F0F6EF;  
    --background-color: #303030;
    --CorButaoUsuario-color: #F0F6EF;
    --SuporteTextBox-color: #555;
}

/* Sidebar retrátil */
.sidebar {
    width: 60px;
    background-color: var(--hanburguue-color);
    padding: 15px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar:hover {
    width: 200px;
}

/* Hambúrguer - três riscos */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-top: 10px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: var(--hanburgueTRES-color);
    border-radius: 2px;
    transition: all 0.3s;
}

.sidebar:hover .hamburger-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.thumb-accordion-item {
    width: 70px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 5px; 
    display: block; 
    margin: 10px 10px;
}

/* Ajuste para o accordion ocupar completamente a largura da sidebar */
.sidebar .accordion {
    width: 100%; 
    padding: 0;
    margin: 0; 
}

.sidebar .accordion-item {
    width: 100%; 
    margin: 0; 
    padding: 0; 
    border: none; 
}

.sidebar .accordion-header {
    padding: 0;
    margin: 0;
}

.sidebar .accordion-button {
    width: 100%; 
    text-align: left; 
    padding: 10px; 
    margin: 0;
}

.accordion {
    margin: 0; 
    padding: 0; 
    width: auto; 
    max-width: 100%; 
    position: absolute; 
    left: 0;
    top: 120px; 
    z-index: 10; 
}

.sidebar:hover nav ul {
    opacity: 1;
    transform: translateX(0);
}

.sidebar ul li {
    margin: 20px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s;
}

.sidebar:hover ul li {
    opacity: 1;
}

.sidebar ul li a {
    color: var(--hanburgueTEXT-color);
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.sidebar nav ul li a {
    display: none;
}

.sidebar:hover nav ul li a {
    display: block;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cabecalho-color);
    color: var(--cabecalhoTEXT-color);
    padding: 30px;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    transition: margin-left 0.3s;
    
}


.accordion-body{

display: flex;
align-items: center;
}



.icon-button {
    position: absolute;
    right: 20px;
    padding: 10px 10px;
    margin: 0 60px;
    border: none;
    cursor: pointer;
}

/* Carrossel */
.carousel {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 900px;
    height: 500px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
    border-width: 1px;
    border-color: var(--borda-color);
    border-style:solid;
}

.carousel-container {
    display: flex;
    transition: transform 1s ease-in-out; 
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transition: opacity 1s ease; 
}

.carousel img.active {
    display: block;
    opacity: 1;
    position: absolute;
}

/* Botões de navegação do carrossel */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:var(--botoesdenavegacaodocarrossel-color);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Indicadores de imagem */
.carousel-indicators {
    text-align: center;
    margin-top: 15px;
}

/* Texto abaixo do carrossel */
.content-below-carousel {
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
    text-align: center;
    padding: 20px;
    background-color: var(--fundoTEXT-color);
    border-radius: 10px;
    color: var(--TEXTO-color);
}

.content-below-carousel h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--H2-color);
}

.content-below-carousel h3,.content-below-carousel strong {
    color: var(--H3-color);
}



/* Alinhando o texto à esquerda */
.content-below-carousel p, .content-below-carousel ul {
    text-align: left;
    line-height: 1.6; 
    font-size: 1.1rem;
}

/* Ajuste das listas */
.content-below-carousel ul {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}


.content-below-carousel li {
    list-style-position: inside;
}

/* Footer fixo à direita */
.footer {
 
    color: var(--folder-collor);
    text-align: right;
    padding: 10px 20px;
    bottom: 0;
    right: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.containerSobre {
    max-width: 900px;
    margin: 40px auto;
    background-color: var(--fundoTEXT-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 160px; 
}

.containerSobre h2 {
    font-size: 2rem;
    color: var(--H2-color);
    margin-bottom: 20px;
}

.containerSobre h3 {
    font-size: 1.5rem;
    color: var(--H3-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.containerSobre p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: var(--TEXTO-color);
}

.containerSobre ul {
    list-style-type: none;
    padding-left: 0;
    color: var(--UL-color);
}

.containerSobre li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.containerSobre li strong {
    color: var(--LI-color);
}

/* Seção de imagens com títulos e textos dos curso*/
.cursoimage-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
}

.cursoimage-text-item {
    max-width: 900px;
    margin: 20px auto;
    background-color: var(--fundoTEXT-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px; 
    display: flex; 
    align-items: flex-start; 
}

.cursoimage-text-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.cursotext-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cursotext-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--H2-color);
}

.cursotext-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--H3-color);
}

.cursotext-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--TEXTO-color);
}
.cursotext-content ul {
    font-size: 1.1rem;
    line-height: 2;
    color: var(--UL-color);
}
.cursotext-content ul li {
    font-size: 0.9rem;
    line-height: 2;
    color: var(--LI-color);
}

.suportecontainer {
    max-width: 900px;
    background-color: var(--fundoTEXT-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    color: var(--TEXTO-color);
    text-align: center;
}

.suportecontainer h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--H2-color);
}

.suportecontainer p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.suportecontact-info {
    margin-bottom: 30px;
}

.suportecontact-info p {
    font-size: 1.2rem;
}

/* Formulário de contato */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 80%;
    max-width: 700px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

form textarea {
    height: 150px;
    resize: none;
}

.enviar {
    background-color: rgb(43, 190, 63);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #397a39;
    color: var(--TEXTusuario-color);
}

.loginflexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.loginform {
    color: var(--H2-color);
    background-color: var(--fundoTEXT-color);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--borda-color);
    border-radius: 20px;
    text-align: center;
}

.loginform input {
    margin: 10px;
    padding: 10px;
}

.loginform button {
    margin: 10px;
    padding: 10px;
    color: white;
}


.Usuariocontainer {
    background-color: var(--fundoTEXT-color);
    padding: 20px;
    margin-top: 100px;
    color: var(--TEXTusuario-color);
    border-radius: 10px;
    width: 600px;
    text-align: end;
}

.Usuarioprofile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Usuariophoto-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Usuariophoto {
    width: 150px;
    height: 150px;
    border: 1px solid var(--borda-color);
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-photo {
    position: absolute;
    bottom: 0px;
    right: -12px;
    color: var(--TEXTusuario-color);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}

.Usuarioinfo {
    margin-left: 20px;
    flex-grow: 1;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
}

input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}

.meu-input{
    color: var(--TEXTusuario-color);
}

.edit {
    background-color: #ffffff00;
    color: var(--TEXTusuario-color);
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

hr {
    margin: 20px 0;
    border: .5px solid var(--borda-color);
}

.SuporteTextBox input,textarea{
    background-color: var(--SuporteTextBox-color);
    color: var(--TEXTO-color);
}

.Usuariocourses {
    text-align: left;
}

.hr {
    
    height: .5px;
}

.Usuariocourse {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: .5px solid var(--borda-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.Usuarioother-courses {
    background-color: var(--entraremoutroscursos-color);
    padding: 10px;
    color: var(--CorButaoUsuario-color);
    cursor: pointer;                      
    text-decoration: none; 
    border-radius: 5px;
    text-align: center;
    color: var()
}

.Usuarioother-courses:hover {
    background-color: #333;
}

.Usuariolabel{
    font-size: 7px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--CorButaoUsuario-color);
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.btn:hover {
    background-color: #0056b3; 
}

.btn-secondary {
    background-color: #e23535;
}

.btn-secondary:hover {
    background-color: #ff0000;
}

.corRegistre{
    color: var(--TEXTusuario-color);
}
.corlogin{
    color: var(--TEXTusuario-color);
}

@media screen and  (max-width: 1020px){
    .flex{
        flex-direction: column;
    }

    .hamburger-menu{
        display: none;
    }

    .carousel-container{
        max-width: 100%;
    }


}

img {
    max-width: 100%;
    height: auto;
  }